.venv
__pycache__
client_secret_1021866879480-lugaokakferbt11qf1088c5d3n04l9fu.apps.googleusercontent.com (1).json
client_secret_1021866879480-ue2v8o4ki4l5dt19a9f2rvdcu821gtsd.apps.googleusercontent.com.json


