google-shopping-merchant-accounts
google-shopping-merchant-datasources
google-shopping-merchant-inventories
google-shopping-merchant-notifications
google-shopping-merchant-ordertracking
google-shopping-merchant-products
google-shopping-merchant-productstudio
google-shopping-merchant-promotions
google-shopping-merchant-quota
google-shopping-merchant-reports
google-shopping-merchant-reviews
google-auth-oauthlib
google-auth
googleapis-common-protos
uvicorn 
fastapi
sqlalchemy
httpx
secrets
datetime
pydantic
pydantic_settings