<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    <p>{{ user.name }}</p>
    <p>{{ user.email }}</p>

    <form method="POST" action="/api/me ">
        <label for="merchant">Select Merchant:</label>
        <select name="merchant_id" id="merchant"  onchange="form.submit()">
            {% for account in merchant.accounts %}
                <option value="{{ account.accountId }}"
                    {% if selectedMerchant and account.accountId == selectedMerchant.accountId %}
                        selected
                    {% endif %}
                >
                    {{ account.name }}
                </option>
            {% endfor %}

            
        </select>
        <br>
        <br>
        Name : {{ selectedMerchant.name }} <br>
        Account Id : {{ selectedMerchant.accountId }} <br> 
        Merchant Name : {{ selectedMerchant.merchant_name }}
        
    </form>



    <a href="/api/logout">Logout</a>
    <a href="/api/auth/google/login">Change Google Account </a>
    

</body>
</html>